<simple-notifications [options]="options"></simple-notifications>
<div *ngIf="loading == true" class="loader"></div>
<div class="widgets" *ngIf="loading == false">
    <div class="row">
        <ba-card title="{{'general.table.categorytable' | translate}}" baCardClass="with-scroll" class="data-table-container">
                <div class="row">
                    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="removeCategory($event)" 
                    (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
                </div>
        </ba-card>
    </div>
</div>


