<div class="modal-content" >
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" [(ngModel)] = 'modalData.firstName' name = 'firstname' class="form-control" id="firstname" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" [(ngModel)] = 'modalData.lastName' name = 'lastname' class="form-control" id="street" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="city">Email</label>
        <input type="email" [(ngModel)] = 'modalData.email' name = 'email' class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="zip">phoneNumber</label>
        <input type="text" [(ngModel)] = 'modalData.phoneNumber' name = 'phoneNumber' class="form-control" id="zip" placeholder="Mobile">
      </div>
      <div class="form-group">
        <label for="zip">FAX</label>
        <input type="text" [(ngModel)] = 'modalData.fax' name = 'fax' class="form-control" id="fax" placeholder="FAX">
      </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" [(ngModel)] = 'modalData.street' name = 'street' class="form-control" id="phone" placeholder="Street">
      </div>
      <div class="form-group">
        <label for="zip">ZIP Code</label>
        <input type="text" [(ngModel)] = 'modalData.zip' name = 'zip' class="form-control" id="zip" placeholder="ZIP Code">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" [(ngModel)] = 'modalData.city' name = 'city' class="form-control" id="city" placeholder="City">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" [(ngModel)] = 'modalData.country' name = 'country' class="form-control" id="country" placeholder="Country">
      </div>
    
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success confirm-btn" (click)="saveModal()">Save</button>
  </div>
</div>
